.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #1abc9c;
}

.heading{
    background-color: #2c3e50;
} 


.col-xs-6.button{
    text-align: end;
    color: #ffffff;
}

.col-xs-6.button>button{
    width: 60px;
    margin: 20px;
    background: #1abc9c;
    border: none;
    border-radius: 5px;
}


.col-xs-6 h5{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
}
/* background-color: #148f77;
    background-color: #1abc9c;
    */

.avatar{
    width: 180px;
    margin-top: 80px !important;
    margin: auto;
} 

h1{
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-kerning: none;
    font-style: italic;
    letter-spacing: 1px;
    padding: 15px 0;
}

.line{
    width: 100px;
    height: 5px;
    margin: auto;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 5px;
}

header .line{
    background: white;
}

.line+ h6{
    color: white;
    font-size: 21px;
    padding: 15px 0;
}

header span{
    font-size: 34px;
    color: wheat;
}

.quadrato{
    width: 100%;
    margin: 50px auto;
}

.quadrato img{
    width: 100%;
    border-radius: 10px;
}

main .line{
    background: #2c3e50;

}

main span{
    font-size: 40px;
    color: #2c3e50;
}

.portfolio h2{
    text-transform: uppercase;
    font-weight: 600;
} 


.about span{
    font-size: 40px;
    color: white;
}

.about .line{
    background: white;
}

.about{
    background-color: #1abc9c;
}

.about p{
    color: white;
    font-size: 25px;
    text-align: justify;
}


#second{
    font-size: 35px;
    font-weight: bold;
    padding: 15px 0;
    color: white;
}

main .btn-group-lg > .btn, .btn-lg{
    color: white;
    background-color: transparent;
    padding: 13px 20px;
    margin: 30px 0;
}

.contact-form input{
    width: 100% !important;
    border: none;
    width: 80%;
    padding: 20px;
    margin: 15px 0;
    border-bottom: 1px solid #e9ecef;
    font-size: 20px;
    text-align: start;
}

.contact-form input:last-child{
    padding-bottom: 60px;
    margin-bottom: 40px;
}
 
.contact-form .click_button{
    text-align: start;
    margin: 40px 0;
}

.contact-form .click_button button{
    padding: 15px;
    border-radius: 6px;
    width: 80px;
    color: white;
    background-color: #1abc9c;
}

.contact-form .line{
    background-color: #2c3e50;
}

.contact-form span{
    font-size: 40px;
    color: #2c3e50;
}

.contact-form h2{
    font-size: 35px;
    font-weight: bold;
    padding: 10px 0;
    color: #2c3e50;
}


/* footer */

.contact{
    background: #2c3e50;
}

.contact h2{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
}

.contact h2+div, div + div{
    font-size: 17px;
    color: white;   
}

.contact h3{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.social-icon .fab{
    height: 60px;
    width: 60px;
    border: 2px solid white;
    font-size: 30px;
    color: white;
    margin: 20px 0;
    padding: 4px;
    border-radius: 50%;
    padding: 15px;
    margin-left: 5px;
}

.contact h3+div{
    color: white;
    font-size: 17px;
    margin-bottom: 60px;
}

.contact a{
   color: #1b9465;
   cursor: pointer;
}

.final-contact{
    height: 40px;
    background-color: #1a252f;
    font-size: 13px;
    color: white;
    line-height: 40px;
}


@media screen and (min-width: 768px){
    .quadrato{
        width: 30%;
        float: left;
        margin-left: 10px;
    }

    .avatar{
        width: 200px;
    }

    .avatar img{
        width: 100%;
    }


    
}


@media screen and (min-width: 992px){
    
    .avatar{
        width: 250px;
    }

    .avatar img{
        width: 100%;
    }

    h1{
        font-size: 55px;
    }

    .line{
        margin-bottom: 30px;
    }

    .line+h6{
        font-size: 24px;
        padding-bottom: 20px;
    }

    .quadrato{
        width: calc(100% / 3);
        padding: 10px 10px;
        margin: auto;
    }

    .quadrato:first-child{
        margin-top: 40px;
    }

    .quadrato:last-child{
        padding-bottom: 40px;
    }

    .portfolio h2, #second,#third{
        font-size: 42px;
        padding-top: 30px;
        text-transform: uppercase;
    }

    .text_about{
        width: calc(100% / 2);
        float: left;
        padding: 20px;
    }

    #second+div{
        width: 100%;
    }

    .about_click_button{
        height: 400px;
        position: relative;
    }

    .about_click_button > button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }

    form{
        margin: auto;
        width: 60%;
    }

}